@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --background-clr: #1c1c22;
  --primary-clr: #00ff99;
  --hover-clr: #00e187;
  --white-clr: #fff;
  --box-background-clr: #27272c;
  --bar-height: 3px;
  --bar-width: 30px;
  --bar-gap: 10px;
  --time-duration: 0.3s;
  --time-function: ease-in-out;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.2rem;
  margin: 0 auto;
  line-height: 1.5;
  background-color: var(--background-clr);
  color: var(--white-clr);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* list */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* link */
.link {
  text-decoration: none;
}

/* menu toggle */
.menu-toggle {
  position: relative;
  height: calc(var(--bar-height) * 3 + var(--bar-gap) * 3 + 4px);
  width: calc(var(--bar-width) + 15px);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition-property: border-color;
}

.menu-toggle:hover {
  border-color: var(--white-clr);
}

.bar,
.bar::before,
.bar::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--white-clr);
  left: 8px;
  top: var(--bar-gap);
  transition-property: opacity, top, transform;
}

.bar::before,
.bar::after {
  content: "";
  left: 0;
}

.bar::before {
  top: calc(var(--bar-gap));
}

.bar::after {
  top: calc(var(--bar-gap) + 10px);
}

/* When menu is active (X state) */
.nav-right.open .menu-toggle .bar {
  transform: rotate(45deg);
  top: calc(var(--bar-gap) + 10px)
}

.nav-right.open .menu-toggle .bar::before {
  transform: rotate(-90deg);
  top: 0;
  opacity: 0;
}

.nav-right.open .menu-toggle .bar::after {
  transform: rotate(-95deg);
  top: 0;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

/* nav bar */
nav {
  position: fixed;
  width: 100%;
  background-color: var(--background-clr);

}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-container {
  padding: 10px;
}

.nav-left .home-link {
  color: var(--primary-clr);
  font-weight: bold;
  font-size: 2.4rem;
}

.nav-right .menu {
  background-color: var(--background-clr);
  position: absolute;
  width: 100vw;
  height: calc(100vh - 45px);
  top: 55px;
  left: 0;
  z-index: 10;
  transform: translate3d(0, -1rem, 0);
  visibility: hidden;
  opacity: 0;
  transition-property: transform, visibility, opacity;
}

.nav-right.open .menu {
  transform: translate3d(0, 0, 0);
  visibility: visible;
  opacity: 1;
}

.nav-right .menu .menu-item .link,
.nav-right .menu .menu-item .link:visited{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: white;
  padding: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  transition-property: background-color, color;
}

.nav-right .menu .menu-item:hover .link{
  color: var(--background-clr);
  background-color: var(--primary-clr);
}

.nav-right .menu .menu-item .link .icon{
  width: 30px;
}

@media screen and (min-width: 768px){
  .nav-container {
    justify-content: space-between;
  }

  .nav-right .menu {
    position: unset;
    visibility: visible;
    transform: unset;
    opacity: 1;
    display: flex;
    height: auto;
    width: auto;
  }

  .nav-right .menu .menu-item .link .icon{
    display: none;
  }
}

/* Animation */
.menu-toggle,
.bar,
.bar::before,
.bar::after,
.nav-right .menu,
.nav-right .menu .menu-item .link {
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-function);
}