@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --background-clr: #1c1c22;
  --primary-clr: #00ff99;
  --hover-clr: #00e187;
  --white-clr: #fff;
  --box-background-clr: #27272c;
  --bar-height: 3px;
  --bar-width: 30px;
  --bar-gap: 10px;
  --time-duration: 0.3s;
  --time-function: ease-in-out;
  --text-clr: #a6a5aa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.2rem;
  margin: 0 auto;
  line-height: 1.5;
  background-color: var(--background-clr);
  color: var(--white-clr);
}

.main {
  min-height: 100vh;
  padding-top: 70px;
  max-width: 1400px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* list */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* link */
.link {
  text-decoration: none;
  outline: none;
}

/* menu toggle */
.menu-toggle {
  position: relative;
  height: calc(var(--bar-height) * 3 + var(--bar-gap) * 3 + 4px);
  width: calc(var(--bar-width) + 15px);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition-property: border-color;
}

.menu-toggle:hover {
  border-color: var(--white-clr);
}

.bar,
.bar::before,
.bar::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--white-clr);
  left: 8px;
  top: var(--bar-gap);
  transition-property: opacity, top, transform;
}

.bar::before,
.bar::after {
  content: "";
  left: 0;
}

.bar::before {
  top: calc(var(--bar-gap));
}

.bar::after {
  top: calc(var(--bar-gap) + 10px);
}

/* When menu is active (X state) */
.nav-right.open .menu-toggle .bar {
  transform: rotate(45deg);
  top: calc(var(--bar-gap) + 10px)
}

.nav-right.open .menu-toggle .bar::before {
  transform: rotate(-90deg);
  top: 0;
  opacity: 0;
}

.nav-right.open .menu-toggle .bar::after {
  transform: rotate(-95deg);
  top: 0;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

/* nav bar */
nav {
  position: fixed;
  width: 100%;
  background-color: var(--background-clr);

}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-container {
  padding: 10px;
}

.nav-left .home-link {
  color: var(--primary-clr);
  font-weight: bold;
  font-size: 2.4rem;
}

.nav-right .menu {
  background-color: var(--background-clr);
  position: absolute;
  width: 100vw;
  height: calc(100vh - 45px);
  top: 55px;
  left: 0;
  z-index: 10;
  transform: translate3d(0, -1rem, 0);
  visibility: hidden;
  opacity: 0;
  transition-property: transform, visibility, opacity;
  padding-top: 20px;
}

.nav-right.open .menu {
  transform: translate3d(0, 0, 0);
  visibility: visible;
  opacity: 1;
}

.nav-right .menu .menu-item .link,
.nav-right .menu .menu-item .link:visited {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: white;
  padding: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  transition-property: background-color, color, border-color;
}

.nav-right .menu .menu-item:hover .link,
.nav-right .menu .menu-item .link.highlight {
  color: var(--background-clr);
  background-color: var(--primary-clr);
}

.nav-right .menu .menu-item .link .icon {
  width: 30px;
}

@media screen and (min-width: 768px) {
  .nav-container {
    justify-content: space-between;
    padding: 20px;
  }

  .nav-right .menu {
    position: unset;
    visibility: visible;
    transform: unset;
    opacity: 1;
    display: flex;
    height: auto;
    width: auto;
    padding: 0;
  }

  .nav-right .menu .menu-item .link .icon {
    display: none;
  }

  .nav-right .menu .menu-item .link {
    display: inline;
    border-bottom: 1px solid transparent;
    padding: 0;
    padding-bottom: 5px;
    margin-right: 10px;
  }

  .nav-right .menu .menu-item {
    margin-right: 15px;
  }

  .nav-right .menu .menu-item:last-child {
    margin: 0;
  }

  .nav-right .menu .menu-item:hover .link,
  .nav-right .menu .menu-item .link.highlight {
    border-color: var(--primary-clr);
    background-color: unset;
    color: var(--primary-clr);
  }

  .nav-left .home-link {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav-right .menu .menu-item {
    margin-right: 25px;
  }
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--box-background-clr);
  padding: 20px;
}

footer .list {
  display: flex;
  gap: 20px;
}

footer .list .list-item .link,
footer .list .list-item .link:visited {
  color: white;
  font-size: 1.3rem;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;

  .icon {
    margin-right: 5px;
  }
}

footer .list .list-item:hover .link {
  border-color: white;
}

/* introduction */
.introduction {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.introduction-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.introduction-img img {
  width: 100%;
}

.introduction-content {
  text-align: center;
  padding: 0 10px;
}

.introduction-content h1 {
  font-size: 3rem;
}

.introduction-content p {
  margin: 20px 0;
  color: var(--text-clr);
  font-size: 1.3rem;
}

.introduction-content .sub-links .list {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.introduction-content .sub-links .list .list-item {
  font-size: 1.4rem;
}

.introduction-content .sub-links .list .list-item .link,
.introduction-content .sub-links .list .list-item .link:visited {
  color: var(--primary-clr);
  font-size: 1.4rem;
  padding: 8px;
  border: 1px solid var(--primary-clr);
  border-radius: 50%;
  transition-property: color, background-color;
}

.introduction-content .sub-links .list .list-item:hover .link {
  color: var(--background-clr);
  background-color: var(--hover-clr);
}

@media screen and (min-width: 768px) {
  .introduction-content .sub-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .introduction-content .sub-links .list {
    margin-top: 0;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .introduction {
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
  }

  .introduction-content {
    width: 50%;
    text-align: left;
  }

  .introduction-content h1 {
    font-size: 4.5rem;
  }

  .introduction-content .sub-links {
    justify-content: start;
  }

  .introduction-img {
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-bottom: 0;
  }
}

/* download button */
.download-btn,
.download-btn:visited {
  padding: 8px 15px;
  border: 1px solid var(--primary-clr);
  border-radius: 20px;
  color: var(--primary-clr);
  font-weight: bold;
  font-size: 1.5rem;
  transition-property: color, background-color;
}

.download-btn .icon {
  margin-right: 5px;
}

.download-btn:hover {
  color: var(--background-clr);
  background-color: var(--hover-clr);
}

/* Typewriter Component */
#cursor,
#typewriter {
  color: var(--primary-clr);
}

/* Showcase Component */
.showcase-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.showcase {
  width: 45%;
  /* Slightly increased for balance */
  font-weight: bold;
  display: flex;
  align-items: center;
  font-family: "JetBrains Mono", "Roboto", sans-serif;
  background-color: var(--box-background-clr);
  border-radius: 10px;
  padding: 5px;
}

.showcase .number {
  font-size: 3rem;
  width: 5ch;
  text-align: center;
}

.showcase span:nth-child(2) {
  color: var(--text-clr);
}

@media screen and (min-width: 375px) {
  .showcase {
    width: 180px;
  }
}

@media screen and (min-width: 768px) {
  .showcase-container {
    justify-content: center;
  }

  .showcase {
    width: 150px;
    margin-right: 20px;
  }

  .showcase:last-child {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .showcase-container {
    gap: 30px;
  }

  .showcase .number {
    font-size: 4rem;
  }
}

/* Contact form componenet */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--box-background-clr);
  padding: 20px;
}

.contact-form h2 {
  font-weight: normal;
  color: var(--primary-clr);
  font-size: 3rem;
}

.contact-form input,
.contact-form textarea {
  padding: 8px 10px;
  outline: none;
  border: 1px solid transparent;
  background-color: var(--background-clr);
  color: var(--white-clr);
  border-radius: 10px;
  transition-property: border-color;
}

.contact-form textarea {
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--hover-clr);
}

.submit-btn {
  background-color: unset;
  color: var(--primary-clr);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 8px;
  width: 100px;
  border: 1px solid var(--primary-clr);
  border-radius: 10px;
  transition-property: background-color, color;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--hover-clr);
  color: var(--background-clr);
}

.contact-form p {
  font-size: 1.5rem;
  color: var(--text-clr);
}

/* Contact page */
.contact .list {
  margin-top: 30px;
}

.contact .list .list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* gap: 10px; */
}

.contact .list .list-item:last-child {
  margin: 0;
}

.contact .list .list-item .container {
  background-color: var(--box-background-clr);
  color: var(--primary-clr);
  font-size: 2rem;
  padding: 15px;
  border-radius: 5px;
}

.contact .list .list-item .link {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 65.5vw;
  color: white;
}

.contact .list .list-item .link span:first-child {
  color: var(--text-clr);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
}

.contact .list .list-item .link span:last-child {
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact .list .list-item:hover .link span:last-child {
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 20px;
    margin-top: 100px;
  }

  .contact .list {
    margin: 0;
  }

  .contact .list .list-item .link {
    width: 300px;
  }

  .contact .list .list-item .container {
    font-size: 3rem;
    padding: 15px;
    width: 70px;
    text-align: center;
  }
}

/* Animation */
.menu-toggle,
.bar,
.bar::before,
.bar::after,
.nav-right .menu,
.nav-right .menu .menu-item .link,
.download-btn,
.introduction-content .sub-links .list .list-item .link,
.contact-form input,
.contact-form textarea,
.submit-btn {
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-function);
}